<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Lesson 1</td>        <!-- time    -->
        <td>Introduction to Geospatial Concepts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/organization-geospatial/01-intro-raster-data/index.html">Introduction to Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:25 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/organization-geospatial/02-intro-vector-data/index.html">Introduction to Vector Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:40 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/organization-geospatial/03-crs/index.html">Coordinate Reference Systems</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:55 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/organization-geospatial/04-geo-landscape/index.html">The Geospatial Landscape</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;2:05 pm</td>        <!-- time    -->
        <td>~10 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Lesson 2</td>        <!-- time    -->
        <td>Brief Refresher on R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;2:15 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-intro-geospatial/">Intro to R for Geospatial Data (selections)</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>Lesson 3</td>        <!-- time    -->
        <td>Introduction to Geospatial Raster and Vector Data with R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html">Intro to Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:50 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html">Plot Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>Lesson 3 (cont.)</td>        <!-- time    -->
        <td>Introduction to Geospatial Raster and Vector Data with R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/index.html">Open and Plot Shapefiles</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:30 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/index.html">Explore and Plot by Vector Layer Attributes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>Lesson 3 (cont.)</td>        <!-- time    -->
        <td>Introduction to Geospatial Raster and Vector Data with R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/09-vector-when-data-dont-line-up-crs/index.html">Handling Spatial Projection & CRS</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;2:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/index.html">Convert from .csv to a Shapefile</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
